# Ignore everything
*

# Include these folders
!.github/
!.github/**/*
!src/
!src/**/*
!app/
!app/**/*
!public/
!public/**/*
!schema/
!schema/**/*
!mocks/
!mocks/**/*
!.husky/
!.husky/**/*
!playwright/
!playwright/**/*
!e2e/
!e2e/**/*
!.cursor/
!.cursor/**/*
!.amp/
!.amp/**/*
!.agents/
!.agents/**/*
!.claude/
!.claude/**/*
!scripts/
!scripts/**/*
!env/
!env/**/*

# Include these files
!.editorconfig
!eslint.config.mjs
!.gitignore
!.lintstagedrc.json
!.npmrc
!.prettierignore
!.prettierrc.json
!.tool-versions
!AGENTS.md
!CLAUDE.md
!auth.ts
!CODEOWNERS
!components.json
!middleware.ts
!proxy.ts
!buf.gen.yaml
!next.config.ts
!orval.config.ts
!package.json
!playwright.config.ts
!playwright.e2e.config.ts
!postcss.config.mjs
!pnpm-lock.yaml
!pnpm-workspace.yaml
!README.md
!renovate.json
!tsconfig.json
!vercel-build-ignore.sh
!vercel.json
!vitest.config.ts
!vitest.setup.ts
!.mcp.json

# Exclude these files
.DS_Store
.env*.local

# Vercel
.vercel

# Playwright
playwright/.cache/
.claude/settings.local.json
.claude/worktrees/
